In [22]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.linear_model import LinearRegression
from xgboost import XGBRFRegressor

In [12]:
df = pd.read_csv('abalone_original.csv')
df.head()

,sex,length,diameter,height,whole-weight,shucked-weight,viscera-weight,shell-weight,rings
0,M,91,73,19,102.8,44.9,20.2,30.0,15
1,M,70,53,18,45.1,19.9,9.7,14.0,7
2,F,106,84,27,135.4,51.3,28.3,42.0,9
3,M,88,73,25,103.2,43.1,22.8,31.0,10
4,I,66,51,16,41.0,17.9,7.9,11.0,7

In [13]:
df.rings.unique()

array([15,  7,  9, 10,  8, 20, 16, 19, 14, 11, 12, 18, 13,  5,  4,  6, 21,
       17, 22,  1,  3, 26, 23, 29,  2, 27, 25, 24], dtype=int64)

In [14]:
df.isnull().sum()

sex               0
length            0
diameter          0
height            0
whole-weight      0
shucked-weight    0
viscera-weight    0
shell-weight      0
rings             0
dtype: int64

In [15]:
X = df.drop('rings',axis=1)
y = df.rings

In [16]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
X.sex = encoder.fit_transform(X.sex)

In [17]:
X.head()

,sex,length,diameter,height,whole-weight,shucked-weight,viscera-weight,shell-weight
0,2,91,73,19,102.8,44.9,20.2,30.0
1,2,70,53,18,45.1,19.9,9.7,14.0
2,0,106,84,27,135.4,51.3,28.3,42.0
3,2,88,73,25,103.2,43.1,22.8,31.0
4,1,66,51,16,41.0,17.9,7.9,11.0

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [19]:
X_train.shape

(3132, 8)

#### **Random Forest Regressor**

In [20]:
model1 = RandomForestRegressor()
model1.fit(X_train,y_train)
y_pred1 = model1.predict(X_test)
print(mean_squared_error(y_test, y_pred1) ** 0.5)

2.083896424062409

#### **Linear Regression**

In [21]:
model2 = LinearRegression()
model2.fit(X_train,y_train)
y_pred2 = model2.predict(X_test)
print(mean_squared_error(y_test, y_pred2) ** 0.5)

2.171201036798247

#### **XGBOOST Regressor**

In [23]:
model3 = XGBRFRegressor()
model3.fit(X_train,y_train)
y_pred3 = model3.predict(X_test)
print(mean_squared_error(y_test, y_pred3) ** 0.5)

2.1163612682530144